body{
     background-color: rgb(246, 246, 182);
     border: 10px solid black;
     border-radius: 20px;
     padding: 80px;
}
h1{
     background-color: black;
     height: 50px;
     width: 40%;
     border-radius: 40px;
     border: 5px solid rgb(24, 167, 11);
}
#hello{
     height: 200px;
     width: 20%;
     border-radius: 50px;
     border: 10px solid greenyellow;
}